[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.11.3"
attrs = "==23.1.0"
autograd = "==1.6.2"
black = "==22.3.0"
cachetools = "==5.3.1"
certifi = "==2023.7.22"
chaospy = "==4.3.7"
charset-normalizer = "==3.2.0"
click = "==8.1.7"
cma = "==2.7.0"
confuse = "==2.0.1"
coverage = "==7.3.0"
custom-inherit = "==2.4.0"
cvxpy = "==1.1.18"
cycler = "==0.11.0"
decorator = "==5.1.1"
defusedxml = "==0.7.1"
dill = "==0.3.7"
dnspython = "==1.16.0"
dremio-client = "==0.15.1"
ecos = "==2.0.12"
et-xmlfile = "==1.1.0"
eventlet = "==0.33.3"
fastjsonschema = "==2.15.1"
flask = "==1.1.1"
flask-jwt-extended = "==3.24.1"
flask-login = "==0.5.0"
flask-migrate = "==2.5.2"
flask-socketio = "==4.3.0"
flask-sqlalchemy = "==2.4.1"
furl = "==2.1.3"
future = "==0.18.3"
genson = "==1.2.2"
gitdb = "==4.0.10"
gitpython = "==3.1.31"
google-auth = "==2.22.0"
graphviz = "==0.16"
greenlet = "==2.0.2"
h5py = "==3.2.1"
idna = "==3.4"
importlib-metadata = "==6.8.0"
isodate = "==0.6.1"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.1"
joblib = "==1.3.2"
kiwisolver = "==1.4.5"
kubernetes = "==11.0.0"
lxml = "==4.9.3"
mako = "==1.2.4"
markupsafe = "==2.1.3"
matplotlib = "==3.4.3"
mpmath = "==1.3.0"
mypy-extensions = "==1.0.0"
mysqlclient = "==2.2.0"
networkx = "==2.5"
nlopt = "==2.7.0"
nose2 = "==0.9.1"
numpoly = "==1.2.11"
numpy = "==1.24.3"
oauthlib = "==3.2.2"
openpyxl = "==3.0.7"
openturns = "==1.18"
orderedmultidict = "==1.0.1"
osqp = "==0.6.3"
packaging = "==21.3"
pandas = "==1.3.0"
pathspec = "==0.11.2"
pdfo = "==1.0"
petsc = "==3.19.4"
petsc4py = "==3.19.4"
pillow = "==10.0.0"
platformdirs = "==3.10.0"
plotly = "==5.3.0"
psutil = "==5.9.5"
pyasn1 = "==0.5.0"
pyasn1-modules = "==0.3.0"
pycryptodome = "==3.18.0"
pydoe2 = "==1.3.0"
pyjwt = "==1.7.1"
pymongo = "==4.4.1"
pymoo = "==0.5.0"
pyparsing = "==3.1.1"
pyside2 = "==5.15.2"
python-dateutil = "==2.8.2"
python-dotenv = "==0.12.0"
python-engineio = "==3.12.1"
python-socketio = "==4.5.1"
python3-saml = "==1.9.0"
pytz = "==2023.3"
pyxdsm = "==2.2.0"
pyyaml = "==6.0.1"
qdldl = "==0.1.7.post0"
requests = "==2.31.0"
requests-oauthlib = "==1.3.1"
rsa = "==4.9"
scikit-learn = "==1.0.1"
scipy = "==1.10.1"
scs = "==3.2.3"
seaborn = "==0.9.0"
shiboken2 = "==5.15.2"
simplejson = "==3.19.1"
six = "==1.16.0"
smmap = "==5.0.0"
sqlalchemy = "==1.3.13"
sympy = "==1.4"
tenacity = "==8.2.3"
threadpoolctl = "==3.2.0"
tomli = "==2.0.1"
tqdm = "==4.61.0"
trino = "==0.326.0"
typing-extensions = "==4.7.1"
tzlocal = "==5.0.1"
urllib3 = "==1.26.16"
websocket-client = "==1.6.2"
werkzeug = "==2.0.3"
xdsmjs = "==1.0.1"
xmlsec = "==1.3.13"
zipp = "==3.16.2"

[dev-packages]

[requires]
python_version = "3.9"
