# Project libraries
# gemseo
gemseo[all]@git+https://gitlab.com/gemseo/dev/gemseo@07dac5f70ad7cc3ebd65d4e5e61c835f028aec59
# External libraries
black==25.1.0
chaospy==4.3.18
cma==4.0.0
cvxpy==1.6.4
db-dtypes==1.4.2
gitpython==3.1.44
matplotlib==3.9.2
numpy==1.26.4
openturns==1.24
pandas==2.2.2
plotly==5.24.0
pyarrow==16.1.0
pycryptodome==3.22.0
PyYAML==6.0.2
scipy==1.10.1
six==1.17.0
sympy==1.13.2
tqdm==4.66.5
numpoly==1.2.14  # last version with wheel

# Development requirements
# breaking change in 8.2.0 https://docs.pytest.org/en/stable/changelog.html#pytest-8-2-0-2024-04-27
# Will be fixed in 8.3.0 https://github.com/pytest-dev/pytest/issues/12275#issuecomment-2108348204
pytest==8.1.2
pytest-cov==5.0.0
pytest-xdist==3.6.1
pytest-durations==1.2.0
ruff==0.6.8
