# Project libraries
# gemseo
gemseo[all]==6.3.3
# External libraries
black==26.5.1
chaospy==4.3.18
cma==4.2.0
cvxpy==1.6.6
db-dtypes==1.2.0
gitpython==3.1.62
matplotlib==3.10.6
numpy==2.3.3
numpoly==1.2.14  # last version with wheel
openturns==1.25
pandas==2.3.2
plotly==6.3.0
pycryptodome==3.23.0
PyYAML==6.0.2
scipy==1.15.2
six==1.17.0
sympy==1.14.0
tqdm==4.67.1
seaborn==0.13.2
scikit-learn==1.7.2
nbformat == 5.11.1
# Development requirements
# breaking change in 8.2.0 https://docs.pytest.org/en/stable/changelog.html#pytest-8-2-0-2024-04-27
# Will be fixed in 8.3.0 https://github.com/pytest-dev/pytest/issues/12275#issuecomment-2108348204
pytest==8.4.2
pytest-cov==7.1.0
pytest-xdist==3.8.0
pytest-durations==1.5.2
ruff==0.11.13




