# Project libraries
# gemseo

# External libraries
black>=22.12.0
chaospy==4.3.15
cma==2.7.0
cvxpy==1.1.18
gitpython==3.1.43
matplotlib==3.4.3
numpy==1.24.4
openturns==1.18
pandas==2.2.2
plotly==5.3.0
pycryptodome==3.19.1
python-arango==7.5.8
PyYAML==6.0.1
scipy==1.10.1
six==1.16.0
sympy==1.4
tqdm==4.61.0
pycel == 1.0b30
google-cloud-bigquery==3.24.0
pyarrow==16.1.0

# Development requirements
pytest==7.4.3
pytest-cov==4.1.0
pytest-xdist==3.4.0
pytest-durations==1.2.0
