[lint]
select = ["I", "TCH", "PLC", "PLE", "F", "E"]
# extend-select = ["ALL"]

ignore  = ["E722", "F841", "E501", "D400", "D415", "D212", "D300"]
# E722 Do not use bare `except`
# F841 Local variable `xxx` is assigned to but never used
# E501 Line too long
# D400 First line should end with a period
# D415 First line should end with a period, question mark, or exclamation point
# D212 [*] Multi-line docstring summary should start at the first line
# D300 [*] Use triple double quotes `"""`
